* {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



/* ============= hero page starts ============== */

.hero-container {
    background-image: url("../images/hero\ page.jpg");
    height: 80vh;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

#hero-page {
    line-height: 1.2;
    font-weight: bold;
    padding: 10px;
    font-size: 3.5em;
}

.hero-para {
    padding: 10px;
}

.order-now-1 {
    padding: 12px;
    width: 20%;
    margin: 10px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}

.explore-now {
    padding: 12px;
    width: 20%;
    margin: 10px;
    background-color: orangered;
    /* border: 2px solid white; */
    border-radius: 5px;
    color: white;
    border-style: none;

}

.time {
    padding: 10px;
}

.time-icon {
    color: orange;
    font-size: 18px;
}

/* ============= hero page starts ============== */

/* ============= latest Dishes ============== */

.latest-img {
    width: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.latest-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.food-card {
    padding: 15px;
    border-radius: 15px;
    background-color: transparent;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: white;
    width: 280px;
    border-right: 1px solid orange;
    border-left: 1px solid orange;
}


.order-now {
    padding: 12px;
    width: 100%;
    margin: 10px;
    background-color: orangered;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}

/* ============= latest Dishes ============== */

.desert-section {
    /* background-image: url("../images/sweet-heropage.webp"); */
    padding: 25px;
    height: auto;
    color: white;
}

.sweet-image {
    width: 200px;
    border-radius: 50%;
    padding: 18px;
}

.sweet-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top:35px;

}

.sweet-sub {
    width: 280px;
    padding: 15px;
    border-radius: 15px;
    background-color: transparent;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: black;
    text-align: center;
    border-right: 1px solid orange;
    border-left: 1px solid orange;

}

.choose-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;


}

.choose-card {
    width: 250px;
    text-align: center;
}

p {
    line-height: 28px;
    color: white;
}

h4 {
    line-height: 25px;
    color: orange;
}

h1{
    color:white;
}

h3 {
    color: white;
}

.fresh-img {
    width: 180px;
    padding: 20px;
}

.fresh-img-1 {
    width: 220px;
}






.about-container {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items:center;
    gap:20px;
}

.about-card{
    width:420px;
    text-align: justify;
}
.team {
    margin-top:45px;
}
.chef {
    width:220px;
}